---
import BaseLayout from '../layouts/Base.astro';
import ThankYou from '../components/lead-form/ThankYou.svelte';
---

<BaseLayout title="Obrigado | Klout">
  <main id="main-content">
    <ThankYou client:load />
  </main>
</BaseLayout>
